runs/
doc/
result_pth/
data/
.ipynb_checkpoints/
__pycache__/
wandb/
test/
lab.py
*.pth
test_*.py
config.py
config_temp.py
config_temp2.py
explain/
multicolor_shapes_pth/
/文件/master-degree-paper/main.pdf
detect/
showout/
Another_show/
single_detect/
head_analysis_results/

.idea/
config/

# 2026 新增
.vscode/
2025_analyze/
caltech101_images/
cifar10_images/
cifar10_visualization_output/
colored_mnist_visualization_output/
head_mask_results/
pvt_v2_attn_monkeypatch/
pvt_v2_attn_vis_clean_224/
pvt_v2_attn_vis_clean_7x7/
pvt_v2_b0_analysis/
vit_cls_attention_maps/
vit_max_alpha_visualization/
vit_patch_merging_visualization/
vit_per_head_input_relevance/
vit_register_cls_attention_maps/
vit_register_lrp_vis/
vit_register_lrp_vis_clatech101/
vit_register_lrp_vis_colored_mnist/